.start-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 92vh;
}

header {
  width: 100%;
  background: #e7e7e7;
  line-height: 8vh;
  text-align: center;
  font-weight: bold;
}

.react-calendar {
  position: absolute;
  bottom: 0;
  width: 100% !important;
  left: 0;
}

.middle-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.middle-block > img {
  width: 50%;
}

/*content-page*/

.content-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper-block {
  position: absolute;
  width: 100%;
  line-height: 6vh;
  top: 8vh;
  border-bottom: 1px solid lightgray;
  text-align: center;
}

.films-block {
  margin-top: 6vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-btn {
  position: absolute;
  top: 1.5vh;
  left: 1vh;
  background: none;
  line-height: 4vh;
  width: 4vh;
  font-size: 2.5em;
  z-index: 3;
  color: red;
  text-align: center;
  border: none;
  outline: none;
}

/*film item*/

.film-item {
  display: flex;
  width: 90%;
  height: 14vh;
  margin-top: 10px;
}

.img-block {
  width: 9vh;
}

.img-block > img {
  width: 100%;
  height: 100%;
}

.film-info {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}

.film-info > div:first-child {
  display: flex;
  flex-direction: column;
}

.film-desc {
  background: #f5f5f5;
  line-height: 4vh;
  width: 70%;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  outline: none;
  border: none;
  color: grey;
}

.show-more {
  outline: none;
  bottom: 5px;
  width: 90%;
  line-height: 5vh;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  color: lightgray;
}

.film-info > div:first-child > span:last-child {
  margin-top: 0.5vh;
  font-size: 0.8em;
  color: grey;
}

.no-films {
  width: 100%;
  margin-top: 8vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 40vh;
}

.no-films > img {
  margin-top: 5vh;
  width: 60%;
}